/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: white;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #F5D800;
    text-shadow: none;
}

::selection {
    background: #F5D800;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    background: #05002B url('/img/newbg.png');
    padding-top: 4em;
}

a {
    color: #FF9933;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Exo', Helvetica, Helvetica Neue, Arial;
    font-weight: 600;
}

.wrapper {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

/* ===================
    ALL: Orange Theme
   =================== */

.main-container {
    background: transparent;
}

.main-container .main {
    background: transparent;
}

.main-container .main .indent {
    margin: 0em 2em;
}

.header-container {
    /*border-bottom: 20px solid #FF9933;*/
}

.header-container h1 {
    display: block;
    margin-left: 1em;
}
.header-container h1 img {
    height: 2em;
}

.header-container,
.footer-container,
.main aside {
    background: transparent;
}

.title {
    color: white;
}

.main-container img {
    max-width: 100%;
    width: 100%;
}

/* ==============
    MOBILE: Menu
   ============== */

header nav {
    display: none;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #FF9933;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

.main article h1.attention-grabber {
    font-size: 4em;
    line-height: 1.5;
    text-align: left;
    font-weight: 600;
    margin: 0em;
}

article header p {
    font-size: 1.5em;
    line-height: 1.5;
    margin-top: 0px;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 1em 0em;
}

.main article {
    padding: 0em;
    box-sizing: border-box;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#mc_embed_signup label {
    display: block;
}

#mc_embed_signup input {
    display: block;
    padding: 0.5em;
    color: #05002B;
    width: 100%;
    margin-bottom: 0.5em;
    box-sizing: border-box;
}

#mc_embed_signup button {
    display: block;
    background: #FF9933;
    padding: 0.5em 0.5em 0.25em;
    border: none;
    font-family: 'Exo', Helvetica, Helvetica Neue, Arial;
    font-weight: 600;
    width: 100%;
    border-bottom: 0.25em transparent solid;
    box-sizing: border-box;
}

#mc_embed_signup button:hover {
    border-color: #F5D800;
}



article img {
    max-width: 100%
}

div.contact-aside {
    padding: 5%;
}


footer.wrapper {
    padding-left: 2em;
}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 968px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 60%;
    }

    /*.main aside {
        float: right;
        width: 28%;
    }*/

    .main div.sidebar {
        float: right;
        width: 40%;
        box-sizing: border-box;
        padding: 0 2em;
    }
}

@media only screen and (min-width: 1400px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1200px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
